<div class="container mt-2">
  <!-- Account Section -->
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Account</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account Id:</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button type="submit" class="btn btn-info">Search</button>
            </div>
          </form>
          <div class="mt-3">
            <ng-container *ngIf="account$ | async as accountDetails; else failureOrLading">
              <div class="mb-3">
                <label>Account Id :</label>
                <strong>{{ accountDetails.accountId }}</strong>
              </div>
              <div class="mb-3">
                <label>Balance :</label>
                <strong>{{ accountDetails.balance | number : "1.2-2" }}</strong>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let op of accountDetails.operationDTOS">
                  <td>{{ op.id }}</td>
                  <td>{{ op.operationDate | date : "dd-MM-yyyy" }}</td>
                  <td>{{ op.type }}</td>
                  <td class="text-end">{{ op.amount | number : "1.2-2" }}</td>
                </tr>
                </tbody>
              </table>
              <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(accountDetails.totalePages); let page = index">
                  <a [ngClass]="page == currentPage ? 'btn-info' : 'btn-outline-info'" class="btn me-1"
                     (click)="gotoPage(page)">
                    {{ page }}
                  </a>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Operations Section -->
    <div class="col col-md-6">
<!--      <div class="card" *ngIf="account$">-->
      <div class="card" >
        <div class="card-header">Operations</div>
        <div class="card-body">
          {{ operationFormGroup.value | json }}
          <form [formGroup]="operationFormGroup" method="post" (ngSubmit)="handleAccountOperation()">
            <div class="form-check form-check-inline mb-3">
              <label class="form-label">Debit</label>
              <input type="radio" formControlName="operationType" value="DEBIT" class="form-check-input">
            </div>
            <div class="form-check form-check-inline mb-3">
              <label class="form-label">Credit</label>
              <input type="radio" formControlName="operationType" value="CREDIT" class="form-check-input">
            </div>
            <div class="form-check form-check-inline mb-3">
              <label class="form-label">Transfer</label>
              <input type="radio" formControlName="operationType" value="TRANSFER" class="form-check-input">
            </div>
            <div class="mb-3" *ngIf="operationFormGroup.value.operationType == 'TRANSFER'">
              <label class="form-label">Account Destination:</label>
              <input type="text" formControlName="accountDestination" class="form-control">
              <span *ngIf="operationFormGroup.get('accountDestination')?.errors" class="text-danger">Account Destination is required </span>
            </div>
            <div class="mb-3">
              <label class="form-label">Amount:</label>
              <input type="text" formControlName="amount" class="form-control">
              <span  *ngIf="operationFormGroup.get('amount')?.errors" class="text-danger">Amount is required </span>
            </div>
            <div class="mb-3">
              <label class="form-label">Description:</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <button class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Failure or Loading Section -->
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage">
      <div class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </ng-container>
  </ng-template>
</div>
